*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins','sans=serif';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#f7f7f7;
}

.chat{
    background:#fff;
    border-radius: 16px;
    width:450px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.chatsystem{
    padding:25px 30px;
}

.chatsystem header{
    font-size:26px;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    
}